{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">

                    <h2>
                        <b>{{ title }} </b>
                    </h2>
                    <form method="POST" action="/create">
                        <table border=0>
                            <tr>
                                <td align="center">Laptop Brand</td>
                                <td align="center">Price</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><input name="brand" type="text"></td>
                                <td><input name="price" type="text"></td>
                                <td><button type="submit" class="btn btn-success float-right" value="Add">Add</button></td>
                                
                            </tr>

                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

                    {% endblock %}

